src/domains/tae-app/pipelines/foreach-activities/forEachPendingFileInCosmos.json
{
  "name": "For each pending file in Cosmos",
  "type": "ForEach",
  "dependsOn": [
    {
      "activity": "Extract pending files in Cosmos",
      "dependencyConditions": [
        "Succeeded"
      ]
    }
  ],
  "userProperties": [],
  "typeProperties": {
    "items": {
      "value": "@activity('Extract pending files in Cosmos').output.value",
      "type": "Expression"
    },
    "isSequential": true,
    "activities": [
      {
        "name": "If the flow is not valid",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Check file validity",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(activity('Check file validity').output.firstRow.valid,false) ",
            "type": "Expression"
          },
          "ifFalseActivities": [
            {
              "name": "Write pending filenames to file",
              "type": "Copy",
              "dependsOn": [],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "source": {
                  "type": "CosmosDbSqlApiSource",
                  "additionalColumns": [
                    {
                      "name": "validity",
                      "value": "flow_still_valid_inquire"
                    }
                  ],
                  "query": {
                    "value": "@concat('SELECT DISTINCT c.sourceFileName, c.transmissionDate FROM c where c.sourceFileName = \"', item().sourceFileName,'\"')\n",
                    "type": "Expression"
                  },
                  "preferredRegions": [],
                  "detectDatetime": true
                },
                "sink": {
                  "type": "DelimitedTextSink",
                  "storeSettings": {
                    "type": "AzureBlobStorageWriteSettings",
                    "copyBehavior": "PreserveHierarchy"
                  },
                  "formatSettings": {
                    "type": "DelimitedTextWriteSettings",
                    "quoteAllText": true,
                    "fileExtension": ".txt"
                  }
                },
                "enableStaging": false,
                "translator": {
                  "type": "TabularTranslator",
                  "mappings": [
                    {
                      "source": {
                        "path": "$['sourceFileName']"
                      },
                      "sink": {
                        "name": "filename",
                        "type": "String"
                      }
                    },
                    {
                      "source": {
                        "path": "$['transmissionDate']"
                      },
                      "sink": {
                        "name": "transmission_date",
                        "type": "Date"
                      }
                    },
                    {
                      "source": {
                        "path": "$['validity']"
                      },
                      "sink": {
                        "name": "validity",
                        "type": "String"
                      }
                    }
                  ]
                }
              },
              "inputs": [
                {
                  "referenceName": "Aggregate",
                  "type": "DatasetReference"
                }
              ],
              "outputs": [
                {
                  "referenceName": "PendingFile",
                  "type": "DatasetReference",
                  "parameters": {
                    "filename": {
                      "value": "@concat(pipeline().RunId,'_',item().sourceFileName,'.csv')",
                      "type": "Expression"
                    }
                  }
                }
              ]
            }
          ],
          "ifTrueActivities": [
            {
              "name": "Delete invalid aggregates from CosmosDB",
              "type": "Copy",
              "dependsOn": [
                {
                  "activity": "Write pending invalid filenames to file",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "source": {
                  "type": "CosmosDbSqlApiSource",
                  "query": {
                    "value": "SELECT c.id, c.terminalId, 10 as ttl FROM c WHERE c.sourceFileName = \"@{item().sourceFileName}\"",
                    "type": "Expression"
                  },
                  "preferredRegions": [],
                  "detectDatetime": false
                },
                "sink": {
                  "type": "CosmosDbSqlApiSink",
                  "writeBatchSize": 1000,
                  "writeBehavior": "upsert",
                  "disableMetricsCollection": false
                },
                "enableStaging": false,
                "translator": {
                  "type": "TabularTranslator",
                  "mappings": [
                    {
                      "source": {
                        "path": "$['id']"
                      },
                      "sink": {
                        "path": "id"
                      }
                    },
                    {
                      "source": {
                        "path": "$['terminalId']"
                      },
                      "sink": {
                        "path": "terminalId"
                      }
                    },
                    {
                      "source": {
                        "path": "$['ttl']"
                      },
                      "sink": {
                        "path": "ttl"
                      }
                    }
                  ],
                  "collectionReference": ""
                }
              },
              "inputs": [
                {
                  "referenceName": "Aggregate",
                  "type": "DatasetReference"
                }
              ],
              "outputs": [
                {
                  "referenceName": "Aggregate",
                  "type": "DatasetReference"
                }
              ]
            },
            {
              "name": "Write pending invalid filenames to file",
              "type": "Copy",
              "dependsOn": [],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "source": {
                  "type": "CosmosDbSqlApiSource",
                  "additionalColumns": [
                    {
                      "name": "validity",
                      "value": "flow_invalid_deleted"
                    }
                  ],
                  "query": {
                    "value": "@concat('SELECT DISTINCT c.sourceFileName, c.transmissionDate FROM c where c.sourceFileName = \"', item().sourceFileName,'\"')\n",
                    "type": "Expression"
                  },
                  "preferredRegions": [],
                  "detectDatetime": true
                },
                "sink": {
                  "type": "DelimitedTextSink",
                  "storeSettings": {
                    "type": "AzureBlobStorageWriteSettings",
                    "copyBehavior": "PreserveHierarchy"
                  },
                  "formatSettings": {
                    "type": "DelimitedTextWriteSettings",
                    "quoteAllText": true,
                    "fileExtension": ".txt"
                  }
                },
                "enableStaging": false,
                "translator": {
                  "type": "TabularTranslator",
                  "mappings": [
                    {
                      "source": {
                        "path": "$['sourceFileName']"
                      },
                      "sink": {
                        "name": "filename",
                        "type": "String"
                      }
                    },
                    {
                      "source": {
                        "path": "$['transmissionDate']"
                      },
                      "sink": {
                        "name": "transmission_date",
                        "type": "Date"
                      }
                    },
                    {
                      "source": {
                        "path": "$['validity']"
                      },
                      "sink": {
                        "name": "validiy",
                        "type": "String"
                      }
                    }
                  ]
                }
              },
              "inputs": [
                {
                  "referenceName": "Aggregate",
                  "type": "DatasetReference"
                }
              ],
              "outputs": [
                {
                  "referenceName": "PendingFile",
                  "type": "DatasetReference",
                  "parameters": {
                    "filename": {
                      "value": "@concat(pipeline().RunId,'_',item().sourceFileName,'.csv')",
                      "type": "Expression"
                    }
                  }
                }
              ]
            }
          ]
        }
      },
      {
        "name": "Check file validity",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "If file validity is mixed",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureDataExplorerSource",
            "query": {
              "value": "Aggregates\n| where fileName == \"@{item().sourceFileName}\"\n| distinct valid",
              "type": "Expression"
            },
            "queryTimeout": "01:00:00",
            "noTruncation": false
          },
          "dataset": {
            "referenceName": "AggregatesLog",
            "type": "DatasetReference"
          }
        }
      },
      {
        "name": "Check mixed validity",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureDataExplorerSource",
            "query": {
              "value": "Aggregates\n| where fileName == \"@{item().sourceFileName}\"\n| distinct valid\n| count ",
              "type": "Expression"
            },
            "queryTimeout": "01:00:00",
            "noTruncation": true
          },
          "dataset": {
            "referenceName": "AggregatesLog",
            "type": "DatasetReference"
          }
        }
      },
      {
        "name": "If file validity is mixed",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Check mixed validity",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(activity('Check mixed validity').output.firstRow.Count, 2)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "Fail for mixed validity",
              "type": "Fail",
              "dependsOn": [],
              "userProperties": [],
              "typeProperties": {
                "message": "Mixed validity",
                "errorCode": "1"
              }
            }
          ]
        }
      },
      {
        "name": "Write pending filenames to file mixed validity",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "If file validity is mixed",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "CosmosDbSqlApiSource",
            "additionalColumns": [
              {
                "name": "validity",
                "value": "flow_with_mixed_validity_inquire"
              }
            ],
            "query": {
              "value": "@concat('SELECT DISTINCT c.sourceFileName, c.transmissionDate FROM c where c.sourceFileName = \"', item().sourceFileName,'\"')\n",
              "type": "Expression"
            },
            "preferredRegions": [],
            "detectDatetime": true
          },
          "sink": {
            "type": "DelimitedTextSink",
            "storeSettings": {
              "type": "AzureBlobStorageWriteSettings",
              "copyBehavior": "PreserveHierarchy"
            },
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".txt"
            }
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "path": "$['sourceFileName']"
                },
                "sink": {
                  "name": "filename",
                  "type": "String"
                }
              },
              {
                "source": {
                  "path": "$['transmissionDate']"
                },
                "sink": {
                  "name": "transmission_date",
                  "type": "Date"
                }
              },
              {
                "source": {
                  "path": "$['validity']"
                },
                "sink": {
                  "name": "validity",
                  "type": "String"
                }
              }
            ]
          }
        },
        "inputs": [
          {
            "referenceName": "Aggregate",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "PendingFile",
            "type": "DatasetReference",
            "parameters": {
              "filename": {
                "value": "@concat(pipeline().RunId,'_',item().sourceFileName,'.csv')",
                "type": "Expression"
              }
            }
          }
        ]
      }
    ]
  }
}
